*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    background:#222;
    color:white;
    padding:20px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:#0d6efd;
    color:white;
}

section{
    padding:50px 10%;
}

.skills{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.skills div{
    background:#0d6efd;
    color:white;
    padding:12px 20px;
    border-radius:6px;
}

.projects{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    padding:20px;
    flex:1;
    min-width:250px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,
textarea{
    padding:12px;
}

button{
    padding:12px;
    background:#0d6efd;
    color:white;
    border:none;
    cursor:pointer;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

nav{
    flex-direction:column;
    gap:15px;
}

nav ul{
    flex-direction:column;
    align-items:center;
}

.projects{
    flex-direction:column;
}

}